.dark-mode-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  min-height: 100vh;
}
.light-mode-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 100vh;
}
.not-found-image {
  height: 300px;
  width: 300px;
}
.dark-mode-not-found-heading {
  color: #ffffff;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Roboto';
}
.light-mode-not-found-heading {
  color: #171f46;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Roboto';
}
.dark-mode-not-found-description {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}
.light-mode-not-found-description {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
}
